---
title: "02. Dezember - Schriftzüge"
linkTitle: "02. Dezember - Schriftzüge"
publishDate: 2019-12-02T00:00:00+0100
hidden: true
---
<div>
<h2>Schönen Advent!</h2>



<p> Mit Bauplatten und Elementen der Kugelbahnen lassen sich Texte darstellen:<br>
<img src="../img/advent.jpg" alt="Adventsgruß mit grünen Bauplatten">
</p>
<p>Vielen Dank an Rüdiger Riedel für diesen Adventsgruß!</p>
</div>




     
