---
title: "03. Dezember - Sternenhimmel"
linkTitle: "03. Dezember - Sternenhimmel"
publishDate: 2019-12-03T00:00:00+0100
hidden: true
---
<div>
<h2>Adventssterne mit Winkelsteinen</h2>
<p>
<img src="../img/adventssterne-winkelsteine.jpg">
</p>
<p>
Mit den Winkelsteinen von fischertechnik lassen sich verschiedene Formen vom nahezu perfekten Kreis (rechts oben) bis hin zu Sternen basteln.<br>
Eigentlich gibt es sie nur in rot und mit den Winkeln 7,5°, 15°, 30° und 60°. Dazu gibt es gelbe Winkelsteine mit 7,5° und 15°, die als Sonderanfertigung produziert, aber nie in Kästen verkauft wurden. Heute finden sie sich immer wieder bei Online-Auktionen.<br>
Weiße Steine gab es nur für den <a href="http://www.fischertechnik-museum.ch/museum/displayimage.php?album=5&pos=7">Solarsegler Icaré</a>  - bis letztes Jahr eine Sonderanfertigung weißer 30°-Steine beim fischertechnik-Sonderverkauf Anlass zu  Spekulationen über neue Projekte gab.
</p>



<ul>
	<li><a href="https://ftcommunity.de/ftpedia_ausgaben/ftpedia-2017-1.pdf#page=17">Die Welt der fischertechnik-Winkelsteine von Rüdiger Riedel</a> (ft:pedia 2017/1)</li>
	<li><a href="https://ftcommunity.de/ftpedia_ausgaben/ftpedia-2018-4.pdf#page=40">Die Welt der fischertechnik-Winkelbausteine(Teil 2)</a> (ft:pedia: 2018/4)</li>
    
</ul>

</div>




     
