---
title: "23. Dezember - Erinnerungen"
linkTitle: "23. Dezember"
publishDate: 2019-12-23T00:00:00+0100
hidden: true
---

<h2>Ermahnung</h2>

<p>Aus unserer kleinen Reihe "Erinnerungen an die 70er" hier noch ein nettes Bildchen:</p>

<p><img src="../img/elektrischeSpielsachen.jpeg" alt="Cartoon"></p>

<p>Quelle: Zeitungsausschnitt, der die Jahre auf Omas Küchenbuffet überdauerte; Urheber unbekannt</p>








     
