---
title: "15. Dezember - Geduldsspiel"
linkTitle: "15. Dezember - "
publishDate: 2019-12-15T00:00:00+0100
hidden: true
---
<div>

<h2>Was ist das?</h2>

<p><img class="rechts" src="../img/was-ist-das.jpg" alt="Spiral-Raumschiff">
</p>


</div>




     
