---
title: "11. Dezember - Statik"
linkTitle: "11. Dezember - Statik"
publishDate: 2019-12-11T00:00:00+0100
hidden: true
---
<div>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0;" />
  <link rel="stylesheet" media="screen" href="css/grundlayout.css" />
  <title>Bauteile-Memory</title>

</head>

<body>
<h2>Bekannte Statik-Teile und ihre (weniger bekannten) Namen</h2>

<p>"Gib mir mal das Dingsda rüber, du weißt schon ..."</p>
<p>Gerade, wenn man mit fischertechnik im Team baut, ist es nützlich die genauen Bezeichnungen für die einzelnen Steine zu kennen: 


	<div class="rquiz-memo" lang="de">
		<p>Finde die passenden Bauteile und ihre Namen!</p>
		<table>
			<tr>
				<td><img src="../img/9109.jpg" alt="winkel60" /></td>
				<td>Sternlasche 6 armig</td>
			</tr>
			<tr>
				<td><img src="../img/9110n.jpg" alt="winkel60" /></td>
				<td>Kreuzlasche 4 armig</td>
			</tr>
			<tr>
				<td><img src="../img/9119nn.jpg" alt="" /></td>
				<td>Winkellasche</td>
			</tr>       
			<tr>
				<td><img src="../img/9123.jpg" alt="" /></td>
				<td>Knotenplatte Kreuz</td>
			</tr>   
			<tr>
				<td><img src="../img/9136.jpg" alt="" /></td>
				<td>Lasche 21,2 spitz</td>
			</tr>   
			<tr>
				<td><img src="../img/9600.jpg" alt="" /></td>
				<td>Winkelträger 15 mit 1 Zapfen</td>
			</tr>  
			<tr>
				<td><img src="../img/9601.jpg" alt="" /></td>
				<td>Winkelträger 15 mit 2 Zapfen</td>
			</tr> 
			<tr>
				<td><img src="../img/9609n.jpg" alt="" /></td>
				<td>Winkelträger V 7,5 Grad</td>
			</tr>                                                       
			<tr>
				<td><img src="../img/9620.jpg" alt="" /></td>
				<td>X Strebe 42,4</td>
			</tr>   
			<tr>
				<td><img src="../img/9660.jpg" alt="" /></td>
				<td>I Strebe 30 mit Loch</td>
			</tr>  
                                       
		</table>
	</div> 
    
<div class="rquiz-lueckentext" lang="de">
		<p>Finde die passenden <em>Bauteile</em> und ihre Namen!</p>

<script src="../js/rquiz.js"></script>
 </div>           
            
  





     
