---
title: "22. Dezember - Zahnräder-Quiz"
linkTitle: "22. Dezember - Zahnräder-Quiz"
publishDate: 2019-12-22T00:00:00+0100
hidden: true 
---
<div>
<h2>Zahnräder</h2>

<p>"Gib mir mal das Dingsda rüber, du weißt schon ..."</p>
<p>Gerade, wenn man mit fischertechnik im Team baut, ist es nützlich die genauen Bezeichnungen für die einzelnen Zahnräder zu kennen: 


	<div class="rquiz-memo" lang="de">
		<p>Finde die passenden Bauteile und ihre Namen!</p>
		<table>
			<tr>
				<td><img src="../img/5048gn.jpg" alt="" /></td>
				<td>Felge 20, grün</td>
			</tr>
			<tr>
				<td><img src="../img/5102.jpg" alt="" /></td>
				<td>Innenzahnrad 30, rot</td>
			</tr>
			<tr>
				<td><img src="../img/5104.jpg" alt="" /></td>
				<td>Zahnrad 40, rot</td>
			</tr>       
			<tr>
				<td><img src="../img/5107.jpg" alt="" /></td>
				<td>Zahnrad 30, schwarz</td>
			</tr>   
			<tr>
				<td><img src="../img/5113yn.jpg" alt="" /></td>
				<td>Zahnrad 15, mit Verzahnung innen und außen</td>
			</tr>   
			<tr>
				<td><img src="../img/5139.jpg" alt="" /></td>
				<td>Drehkranz Typ A classic</td>
			</tr>  
			<tr>
				<td><img src="../img/5503n.jpg" alt="" /></td>
				<td>Schneckenmutter m1</td>
			</tr> 
			<tr>
				<td><img src="../img/6814kr.jpg" alt="" /></td>
				<td>Malteser Kreuz </td>
			</tr>                                                       
                                          
		</table>
	</div> 
    
           
  <script src="../js/rquiz.js"></script>
</div>
