---
title: "18. Dezember - Club-Modell 3-76"
linkTitle: "18. Dezember - Erinnerungen"
publishDate: 2019-12-18T00:00:00+0100
hidden: true
---
<div>
<h2>Kartengeber - Kartenmischer</h2>

<p>In der Weihnachtszeit trifft sich oft die Familie zum Kartenspielen. Da kann dieses alte Modell vielleicht gute Dienste erweisen:

<p><img src="../img/Clubmodell_3-1976.png" alt="Club-Modell 3-1976"></p>


<a href="../pdf/Club_Modell_1976_03_Kartengeber_Kartenmischer.pdf">PDF-Scan</a> (481 kB)<br>


Quelle: <a href="http://www.fischertechnik-museum.ch/">Fischertechnik-Museum</p>


</div>



     
