---
title: "05. Dezember - Kleinteile"
linkTitle: "05. Dezember - Kleinteile"
publishDate: 2019-12-05T00:00:00+0100
hidden: true
---
<div>
<h2>Kreuzworträtsel</h2>

<p>"Gib mir mal das Dingsda rüber, du weißt schon ..."</p>
<p>Gerade, wenn man mit fischertechnik im Team baut, ist es nützlich die genauen Bezeichnungen für die einzelnen Steine zu kennen: 


<p>Klick auf eine Zahl, damit Du einen Hinweis auf die gesuchte Lösung erhältst!</p>
<div class="rquiz-crossword" lang="de">

		<table>
			<tr>
				<td>Federnocken</td>
				<td>Wie heißen die ganz kleinen Teile, mit denen man 2 Nuten verbinden kann?</td>
			</tr>
			<tr>
				<td>Artur</td>
				<td>Wie hieß der Gründer mit Vornamen?</td>
			</tr>
			<tr>
				<td>Waldachtal</td>
				<td>Wo ist die fischertechnik-Zentrale?</td>
			</tr>
			<tr>
				<td>Rastachse</td>
				<td>verbindet Zahnräder</td>
			</tr>
			<tr>
				<td>MakerbeamXL</td>
				<td>in jeder gewünschten Länge beim fischerfriendsman erhältlich</td>
			</tr>
			<tr>
				<td>Silberling</td>
				<td>Spitzname für Elektronik aus den 70ern</td>
			</tr>
			<tr>
				<td>Flexschiene</td>
				<td>180mm lang und biegsam</td>
			</tr>
			<tr>
				<td>Statikstrebe</td>
				<td>bringt Stabilität in deine Brücken und Kräne</td>
			</tr>
			<tr>
				<td>neurot</td>
				<td>Farbvariante</td>
			</tr>
		</table>
	</div>        
            
  <script src="../js/rquiz.js"></script>
</div>
