---
title: "10. Dezember - 1. Advent"
linkTitle: "10. Dezember - 1.Advent"
publishDate: 2019-12-10T00:00:00+0100
hidden: true
---
<div>
<h2>Geschichte</h2>

<p>2015 feierte fischertechnik 50-jähriges Jubiläum - Grund genug für ein Quiz, das uns in die Geschichte dieses Spielzeugs versetzt:</p>



	<div class="rquiz-multichoice" lang="de">
        <p>Mehrere Antworten können richtig sein!</p>
		<p>fischertechnik wurde zuerst 1964 bekannt als  (Werbegeschenk an Kunden)(!Ostergeschenk)(Weihnachtsgabe) (!Giveaway an bedürftige Kinder)</p>
        <p>1965 verteilte Artur Fischer Baukästen an (die Aktion Sorgenkind) (!ausgewählte Spieleexperten) (!Grundschüler in Forscherklassen)</p>
		<p>1966 startete fischertechnik mit (!Statikkästen)(Grundkästen)(Ergänzungskästen)(!Elektromotoren)</p>
		<p>Alle Bausteine passen in ein Raster von (!12mm) (!20mm) (15mm) (!30mm) (!2x2 Noppen)</p>
        <p>Mit den 1969 eingeführten Statikteilen können folgende Modelle besser gebaut werden: (Brücken) (!mechanische Modelle) (Türme) (Kräne)</p>
	</div>
    
    
  <script src="../js/rquiz.js"></script>
</div>


     
