---
title: "21. Dezember - Kleinteile"
linkTitle: "21. Dezember - Kleinteile"
publishDate: 2019-12-21T00:00:00+0100
hidden: true
---

<h2>Tannenbaum-Gieß-Roboter</h2>

<p>Simixus stellte 2011 seinen <a href="https://ftcommunity.de/categoriesd1e2.html?cat_id=2495">Tannenbaum-Gieß-Roboter</a> vor.</p>
<p>Heute könnte man so etwas mit dem TXT Home Automation Set bauen.</p>







     
