---
title: "07. Dezember - Schneeflocken"
linkTitle: "07. Dezember - Schneeflocken"
publishDate: 2019-12-07T00:00:00+0100
hidden: true
---
<div>

<h2>Schneeflocken</h2>

<div class="bilderpool-gallery">
	<figure class="bilderpool-thumbnail">
		<img src="../img/snowflakes.jpg" alt="schneeflocke">
    </figure>    
    <figure class="bilderpool-thumbnail">
		<img src="../img/tannenbaum.jpg" alt="schneeflocke">
    </figure>    

</div>


</div>




     
