---
title: "17. Dezember - Straßenwalze"
linkTitle: "17. Dezember - Straßenwalze"
publishDate: 2019-12-17T00:00:00+0100
hidden: true
---
<div>

<h2>Straßenwalze</h2>



<p class="galerie">
<img src="../img/walze.jpg" alt="playground"></p>


<p>
<a href="../img/Straßenwalze.pdf">Bauanleitung (pdf)</a>

</p>

</div>




     
