---
title: "12. Dezember - Laufroboter"
linkTitle: "12. Dezember - Laufroboter"
publishDate: 2019-12-12T00:00:00+0100
hidden: true
---
<div>
<h2>Laufroboter (Walker) von Primoz Cebulj</h2>

<p>Schon 1972 wurde im Clubheft März 1972 eine Katze vorgestellt, die sich laufend fortbewegte. 1994 gab es einen Profi-Baukasten I'm walking.</p>

<p>Dieses Modell von Primoz Cebulj besticht durch seine kompakte Bauform:

<div class="bilderpool-gallery">
	<figure class="bilderpool-thumbnail">
<img src="../img/walker-1.jpg" alt="Laufroboter Walker">
    </figure>    
    <figure class="bilderpool-thumbnail">
<img src="../img/walker-2.jpg" alt="Laufroboter Walker">
    </figure>    
</div>


</div>



     
