---
title: "01. Dezember - 1. Advent"
linkTitle: "01. Dezember - 1.Advent"
publishDate: 2019-12-01T00:00:00+0100
hidden: true
---
<div>
<h2>Zum 1. Advent 2017 …</h2>

<p>… hatte Peter Habermehl mit den Kindern ein wenig Weihnachtsschmuck gebastelt! </p>
<p><img src="../img/adventssterne-phabermehl.jpg" alt="adventssterne"></p>

<p>Quelle: 
fischertechnik community forum : <a href="https://forum.ftcommunity.de/viewtopic.php?f=6&t=4540">zum 1. Advent</a> vom 02.12.2017</p>
	
            

</div>
